.input {
  margin: 20px;
}

.task-card {
  background-color: grey;
  color: white;
  border: 3px solid white;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}
