h1 {
  margin-top: 10px;
  margin-bottom: 0;
}
.username {
  text-decoration: underline orange 2px;
  padding-left: 5px;
  margin-bottom: 5px;
}
.card {
  background-color: grey;
  color: white;
  border: 3px solid white;
  text-align: center;
  height: 18rem;
}

.board {
  margin-top: 40px;
}

.log-board {
  height: 500px;
}

button {
  margin: 10px;
}
#display {
  font-size: 40px;
}

#status {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.time {
  font-size: 30px;
}

.last {
  padding-top: 20px;
  margin-top: 30px;
}
